/* src/components/ProductList.css */
/* .product-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.product-item {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
}

.product-item img {
    width: 100%;
    max-width: 200px;
    height: auto;
    margin-top: 10px;
} */
